body{
    font-family: Tahoma;
    box-sizing: border-box;
}
button:focus{
    outline: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header{
    padding-top: 77px;
    padding-bottom: 96px;
}
.header-img{
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}
.header-text{
    display: inline-block;
    width: 54%;
    vertical-align: middle;
}
.header-text__title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}
.header-text__subtitle{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}
.header-text__description{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    max-width: 530px;
    margin-bottom: 47px;
}
.header-text__price{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 53px;
}
.button{
    border-radius: 5px;
    background-color: #f05a22;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    padding: 22px 43px;
}
.button-o{
    color: #f05a22;
    background-color: transparent;
    border: 2px solid #f05a22;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    margin-bottom: 99px;
}
.features{
    background-color: #f2f2f2;
    padding-top: 90px;
    padding-bottom: 99px;
}
.features-block{
    display: inline-block;
    text-align: center;
    width: 25%;
    float: left;
}
/* Класс ниже используем для отмены float: left*/
.features-wrap::after{
    content: "";
    display: table;
    clear: both;
}
.features-block__img{
    min-height: 50px;
    margin-bottom: 23px;
}
.features-block__text{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.buyer{
    padding-top: 90px;
    height: 860px;
}
.buyer-block{
    display: inline-block;
    text-align: center;
    width: 25%;
    float: left;
}
.buyer-wrap::after{
    content: "";
    display: table;
    clear: both;
}
.buyer-block__img{
    max-width: 261px;
    max-height: 261px;
    margin-bottom: 40px;
}
/*.buyer-wrap{*/
/*    height: 860px;*/
/*}*/
